{% extends "base.html" %}
{% block title %}Login - Encurtador{% endblock %}

{% block content %}
  <h2>Login</h2>
  {% if erro %}
    <p style="color:red;">{{ erro }}</p>
  {% endif %}
  <form method="post" action="/login">
    <p><input type="text" name="usuario" placeholder="Usuário" required style="width:100%; padding:10px;"></p>
    <p><input type="password" name="senha" placeholder="Senha" required style="width:100%; padding:10px;"></p>
    <p><button type="submit" style="padding:10px 20px;">Entrar</button></p>
  </form>
{% endblock %}